# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/
build/
coverage/
*.local

# Environment files
.env
.env.local
.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
.310venv/
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ML models
backend/aiservice/models/*.h5
*.h5

backend/aiservice/datasets/
backend/aiservice/uploads/
backend/aiservice/models/*.h5
backend/aiservice/models/*.pb
backend/aiservice/models/*.tflite
backend/aiservice/datasets_split/

